# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration (MongoDB Atlas URI)
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/cloud_data_guard?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/cloud_data_guard

# Frontend Client URL (for CORS)
CLIENT_URL=http://localhost:5173
